.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5FCEB;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}

.title {
    text-align: center;
    text-transform: uppercase;

    .title_text {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input_wrapper {
        width: 100%;
        position: relative;
    }

    .input_icon {
        height: 1.8rem;
        width: 1.8rem;
        color: #25362A;
        padding: 4px;
        position: absolute;
        box-sizing: border-box;
        top: 63%;
        left: 5px;
        transform: translateY(-50%);
    }

    .input_info {
        width: 100%;
        max-width: 350px;
        border: 1px solid #9ab3a0;
        border-radius: 4px;
        background-color: transparent;
        font-size: 16px;
        padding: 10px 10px;
        padding-left: 45px;
        margin-top: 15px;
        transition: border-color 0.2s;
    }

    .input_info:focus {
        outline: none;
        border: 2px solid #25362A;
    }

    ::-webkit-input-placeholder {
        color: #242021;
    }

    .action_btn {
        width: 60%;
        max-width: 350px;
        background-color: #25362A;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 0;
        margin-top: 35px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.4s;
    }

    .action_btn:hover {
        opacity: 0.9;
    }
}