.list_main_box{
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    background-color: rgb(37, 54, 42);
    padding: 1em;
}

.list_header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5em;
    margin: 0;
    padding: 0.8em 1.2em;
    border-radius: 0.3em;

}

.list_header li{
    color:  rgb(229, 252, 235);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    gap: 0.5em;
    margin: 0;

}

.list_header h3{
    font-size: clamp(0.5em, 1.2vw, 2em);
    margin: 0;
}

.line_items{
    height: 2em;
    border-color: rgba(37,54,42,0.75);
    margin: 0;
}

.list_inner_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
    flex-direction: column;
    border-radius: 0.3em;
    border:solid rgb(37, 54, 42) 0.01em;
    box-shadow: -1px 1px 38px -11px rgba(0,0,0,0.75) inset;
    background-color:  rgb(229, 252, 235);
}


.list_entity{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1.5em;
    margin: 0;
    width: 100%;
    padding: 0.8em 1.2em;
}


.list_entity h5{
    font-size: clamp(0.5em, 1vw, 2em);
    font-weight: 400;
    margin: 0;
}

.list_entity li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    max-width: 15%;
    gap: 0.5em;
    margin: 0;
}

.image_box{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    cursor: pointer;
}

.image_box img{
    height: clamp(0.5em, 1.2vw, 2em);
    transition: all 0.2s;
}

.image_box img:hover{
    height: clamp(0.5em, 1.5vw, 2em);
}